<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Travel planner app : Adventuristic </title>
    <meta name="description" content="Rio Cantre's capstone project: Adventuristic tavel planner app">    
</head>

<body>
    <header>
        <nav>
            <a href="#author-info">Contact</a>
        </nav>
    </header>
    <main>
        <section id="base-content">
            <div id="travel-detail">
                <h1>Adventuristic</h1>
                <h3>Plan your next adventure</h3>
                <form id="form" onsubmit="return Client.generateForm(event)">
                    <div id="city-from">
                        <input type="text" id="start" placeholder="From...">
                    </div>
                    <div id="city-to">
                        <input type="text" id="destination" placeholder="To...">
                    </div>
                    <div id="travel-date">
                        <input placeholder="Departure date" class="form-control" type="text"
                            onfocus="(this.type='date')" id="depart-date" name="date">
                        <input placeholder="Return date " class="form-control" type="text" onfocus="(this.type='date')"
                            id="return-date" name="date">
                    </div>
                    <button type="submit" id="generate" onsubmit="return Client.generateForm(event)"> Search </button>
                </form>
            </div>
            <div id="main-img">
                <img class="main-img" src="/src/client/assets/img1.png" alt="Adventure is out there photo">
            </div>
        </section>

        <div id="container">
            <h4>Your current list</h4>
            <div id="list" class="trip"> </div>
            <div id="city-list"> </div>
            <div id="img-display">
                <img class="img-display" src="/src/client/assets/img3.png" alt="Adventure is waiting">
            </div>
        </div>
    </main>

    <footer>
        <div id="img-footer">
            <img class="img-footer" src="/src/client/assets/img2.png" alt="footer display"> <a href="#">Go up!</a>
        </div>
        <div id="author-info">
            Copyright &copy; 2021 - &nbsp;<a href="https://musing-ptolemy-95f7d2.netlify.app/index.html"
                target="_blank"> Rio Cantre</a>
            <br>
            Illustrations by <a href="https://dribbble.com/muratkalkavan" target="_blank"> Murat Kalkavan</a>
        </div>
    </footer>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>
</html>

