
footer {
  text-align: center;
  margin: 40px;
  font-size: 13px;
  @media (min-width: 500px) and (max-width: 1173px) {
        width: 100%;
        display: block;
        margin: auto;
        padding: 30px;

    }
  #img-footer {
      display: flex;
      justify-content: center;
    }
    
    #img-footer img {
        width: 100px;
        @media (min-width: 500px) and (max-width: 1173px) {
            width: 80px;
        }
    }
    #img-footer a {
        margin-top: 70px;
    }
    
 
    a {
        text-decoration: none;
        color: $primary-color;
    }
    
 
    a:hover {
        color: $secondary-color;
        cursor: pointer;
    }
}