
footer {
  text-align: center;
  margin: 40px;
  font-size: 13px;
  #img-footer {
      display: flex;
      justify-content: center;
    }
    
    #img-footer img {
        width: 100px;
    }
    #img-footer a {
        margin-top: 70px;
    }
    
 
    a {
        text-decoration: none;
        color: #193948;
    }
    
 
    a:hover {
        color: hsla(189, 53%, 56%, 1);
        cursor: pointer;
    }
}