@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');

$primary-font:'Abril Fatface', cursive;
$secondary-font: 'Montserrat', sans-serif;
$primary-color: hsla(199, 48%, 19%, 1);
$secondary-color: hsla(189, 53%, 56%, 1);
$secondary-light:hsla(189, 36%, 86%, 1);
$background-color: hsla(357, 52%, 86%, 1);
$accent-color: hsla(358, 74%, 65%, 1);
$font-color-dark: hsla(358, 70%, 8%, 1);
$font-color-light:hsla(0, 0%, 97%, 1);





